In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [2]:
#Loading the dataset
data = pd.read_csv("/home/oem/Documents/BBIT/3.2/AI/KNN/Eye.csv")

In [3]:
X=data.iloc[:,:].values
Z=pd.DataFrame(X)

In [4]:
# Building Classification Model
#Imporing few library for create Decision tree classifier and visualizing the tree structure'''
from sklearn import tree
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [5]:
labelencoder_X=LabelEncoder()
X[:,3]=labelencoder_X.fit_transform(X[:,3])
X[:,2]=labelencoder_X.fit_transform(X[:,2])
X[:,1]=labelencoder_X.fit_transform(X[:,1])
X[:,4]=labelencoder_X.fit_transform(X[:,4])
X[:,5]=labelencoder_X.fit_transform(X[:,5])

In [6]:
Z

    0  1  2  3  4  5
0   1  1  1  0  1  1
1   2  1  1  0  0  2
2   3  1  1  1  1  1
3   4  1  1  1  0  0
4   5  1  0  0  1  1
5   6  1  0  0  0  2
6   7  1  0  1  1  1
7   8  1  0  1  0  0
8   9  0  1  0  1  1
9  10  0  1  0  0  2

In [1]:
X

NameError: name 'X' is not defined